{{>layouts/header}}
<br>
<form action="/hospitals" class="d-flex" method="get">

    {{#keyword}}
        <input class="form-control me-2" type="text" placeholder="검색" value="{{keyword}}" name="keyword">
        <button class="btn btn-outline-success" type="submit">Search</button>
    {{/keyword}}
    {{^keyword}}
    <input class="form-control me-2" type="text" placeholder="검색" name="keyword">
    <button class="btn btn-outline-success" type="submit">Search</button>
    {{/keyword}}
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>

    <tbody class="table-group-divider">
    {{#hospitals}}
    <tr>
        <th>{{id}}</th>
        <td><a href="/hospitals/{{id}}">{{hospitalName}}</a></td>
        <td>{{roadNameAddress}}</td>
    </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    {{#keyword}}
        <li class="page-item">
            <a class="page-link" href="?page={{previous}}&keyword={{keyword}}">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{next}}&keyword={{keyword}}">Next</a>
        </li>
    {{/keyword}}

    {{^keyword}}
        <li class="page-item">
            <a class="page-link" href="?page={{previous}}">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{next}}">Next</a>
        </li>
    {{/keyword}}

</ul>
{{>layouts/footer}}